*{
  box-sizing: border-box;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: row;
}

#root{
    width: 100%;
}

.exercice{
  width: 75%;
}

.result{
  /*display: none;*/
  width: 25%;
}

.answers {
  list-style-type: none;
  padding: 1rem;
}

.answers li{
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

li{
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.answers li.selected{
  border-color: blue;
}

.answers li.correct{
  border-color: green;
}

.answers li.incorrect{
  border-color: red;
}
